<% provide(:image, "jane.jpg") %>
<% provide(:author, "t.hu") %>
	
<div>
  <header>I. The Game</header>
  <h1> Interactive section 0 </h1>
  <p><strong> Click 0 to reset. Click the numeric buttons to go through this section. </strong></p>
  <p><span> <button type="button" onclick="step0()">0</button><button type="button" onclick="step1()">1</button><button type="button" onclick="step2()">2</button><button type="button" onclick="step3()">3</button><button type="button" onclick="step4()">4</button><button type="button" onclick="step5()">5</button><button type="button" onclick="step6()">6</button><button type="button" onclick="step7()">7</button><button type="button" onclick="step8()">8</button> </span></p>
  <p> First of all, let's consider the payoff matrix of the most popular game: the Prisoner's Dilemma. </p>
  <div class="caption"> >  <p class="cap0"></p></div>
</div>	    	
<svg>
  <rect x="5%" y="20" width="30%" height="80"/>
  <rect x="35%" y="20" width="30%" height="80"/>
  <rect x="65%" y="20" width="30%" height="80"/>
  
  <line x1="5%" y1="20" x2="35%" y2="100"/> 
		
  <rect x="5%" y="100" width="30%" height="80"/>
  <rect x="35%" y="100" width="30%" height="80"/>
  <rect x="65%" y="100" width="30%" height="80"/>
  
  <rect x="5%" y="180" width="30%" height="80"/>
  <rect x="35%" y="180" width="30%" height="80"/>
  <rect x="65%" y="180" width="30%" height="80"/>
  
  <text x="25%" y="50" fill="#f4656d" opacity="1">P2</text>
  <text x="10%" y="70" fill="#008eb3" opacity="1">P1</text>
  <text class="reset0 p1payp2c0 p2strat0" x="42%" y="50" fill="#f4656d" opacity="1">Cooperate</text>
  <text class="reset0 p1payp2d0" x="73%" y="50" fill="#f4656d" opacity="1">Defect</text>
  
  <text class="reset0 p2payp1c0" x="10%" y="150" fill="#008eb3" opacity="1">Cooperate</text>
  <text class="reset0 p1payp2c0" x="45%" y="150" fill="#008eb3" opacity="1">3</text>
  <text class="reset0 p2pay0 p2payp1c0" x="55%" y="150" fill="#f4656d" opacity="1">3</text>
  <text class="reset0 p1payp2d0 p1pay0" x="75%" y="150" fill="#008eb3" opacity="1">0</text>
  <text class="reset0 p2pay0 p2payp1c0" x="85%" y="150" fill="#f4656d" opacity="1">4</text>
  <text class="star0 p2starp1c0" x="90%" y="150" fill="#f4656d" opacity="0">*</text>
  <text class="reset0 p2payp1d0" x="10%" y="230" fill="#008eb3" opacity="1">Defect</text>
  <text class="star0 p1starp2c0" x="40%" y="230" fill="#008eb3" opacity="0">*</text>
  <text class="reset0 p1payp2c0" x="45%" y="230" fill="#008eb3" opacity="1">4</text>
  <text  class="reset0 p2pay0 p2payp1d0"  x="55%" y="230" fill="#f4656d" opacity="1">0</text>
  <text class="star0 p1starp2d0" x="70%" y="230" fill="#008eb3" opacity="0">*</text>  
  <text class="reset0 p1payp2d0 p1pay0" x="75%" y="230" fill="#008eb3" opacity="1">1</text>
  <text class="reset0 p2pay0 p2payp1d0" x="85%" y="230" fill="#f4656d" opacity="1">1</text>
  <text class="star0 p2starp1d0"  x="90%" y="230" fill="#f4656d" opacity="0">*</text>
</svg>

<h1> Exercise section 0 </h1>
<%= render 'layouts/ndg' %>
<p> Can you identify Nash Equilibrium of this game? Can you do it steps by steps like in the example of the Prisoner's Dilemma? Can you think about efficiency and best responses to each contingency along the way? </p>
<p> > <span class="ans0">  </span></p>
<p><button type="button" onclick="colorne()">Answer</button></p>
