<% provide(:image, "bear.jpg") %>
<% provide(:author, "r.omas") %>

<div>
  <header>0. Introduction</header>
  <p><i> Abstract: I simulate populations of agents playing games for fitness and the population evolves under an evolutionary algorithm. The Racket code is on my Github page, further information is on the Gitlab page of this project. The general sentiment is that I put the project in the freest form possible in accordance with local regulation. In the best case, you would get it in public domain under CC0.</i></p>  
  <h1> Plain section 0</h1>
  <p> First of all, a player is a distinct set of interest. </p>
  <p> Each player has a strategy set from which they can choose from. Their strategies would be combined into different possible outcomes in a matrix with corresponding payoffs. </p>
  <p> For example, following is the payoff matrix of a very popular game: the Prisoner's Dilemma. In this game, there are 2 players and each has 2 possible strategies. Therefore there can be 4 possible outcomes. We would proceed to reason about this situation in the next chapter.
  </p>
</div>
<%= render 'layouts/pd' %>
