<% provide(:image, "damascus.jpg") %>
<% provide(:author, "c.hi") %>

<div>
  <header>II. The Repeated Game</header>
  <h1> Plain section 0 </h1>
  <p> As you see in the previous section, if the game is played for just one time between two players, the result is for both players to inevitably defect. Let's consider another variance of this game in which the game is played for more than one rounds between two players. Which means that it is played repeatedly.   </p>
  <p> Here is the payoff matrix of the game. </p>
</div>

<%= render 'layouts/pd' %>
	
<p>Let's say we play the game for 10 rounds between two players. The game can unfold as follows (there are other possible outcomes, but this one can be):</p>
<pre class="game">

  <code class="game1">&#9822; : C C D D C C D D C C</code> 
  <code class="game2">&#9820; : D D D C C C D D D D</code>

  This can be translated into the following payoff sequences for both of them:

  <code class="game1">&#9822; : 0 0 1 4 3 3 1 1 0 0</code> 
  <code class="game2">&#9820; : 4 4 1 0 3 3 1 1 4 4</code>

  
</pre>

<p> We can see that in each round there are 2 possible actions hence a game with 10 rounds would have a strategy set containing of 2<sup>10</sup> possible strategies. If we draw the payoff matrix of that game, it would be a very big one and it becomes incredibly difficult to calculate a solution analytically. Worse, if we suppose to play the game infinitely, then the number of strategy becomes 2<sup>&infin;</sup>. The repitition of this game, therefore, motivates a general problem of searching for optima in vast space. Exactly why the neurons fire up about computer simulation. Yay!</p> 
<h1> Exercise section 0 </h1>
<%= render 'layouts/ndg' %>

<p> Can you think about the repeated version of this game?</p>


	  <p> > <span class="ans">  </span></p>

	<p>	<button type="button" onclick="answer()">Answer</button></p>
