<% provide(:image, "north2.jpg") %>
<% provide(:author, "r.omas") %>

<div>
  <header>III. Strategy Representation</header>
  <h1> Plain section 0 </h1>
  <p> In this project we would use finite state machine to represent a strategy. The best way to explain that is to use an example. I also give you the payoff matrix of the game.</p>
</div>

<%= render 'layouts/pd' %>

<div class="int0">
  <h1> Interactive section 0 </h1>	
  <p><strong> Click 0 to reset. Click the numeric buttons to go through this section. </strong> </p>
  <p><span> <button type="button" onclick="IIIstep0()">0</button><button type="button" onclick="IIIstep1()">1</button><button type="button" onclick="IIIstep2()">2</button><button type="button" onclick="IIIstep3()">3</button><button type="button" onclick="IIIstep4()">4</button><button type="button" onclick="IIIstep5()">5</button><button type="button" onclick="IIIstep6()">6</button></span></p>
  
  <div class="caption"> > <p class="cap0"> In the begining there was this one.</p></div>
</div>

<svg height="450">
  <circle cx="150" cy="100" r="40" stroke="#008eb3" stroke-width="3" fill="white"/>
  <circle cx="150" cy="150" r="40" stroke="#008eb3" stroke-width="5" fill="ghostwhite"/>
  <text x="150" y="150" fill="#008eb3" >C</text>
  
  <polygon points="180,110 195,120 177,127" style="fill:#008eb3" />
  <text x="150" y="50" fill="#008eb3" >C, D</text>
  <text class="reset0 coop ctit" x="80" y="250" fill="#008eb3" opacity="0"> The Cooperator </text>
  
		
  <circle class="reset0 coop arrow" cx="350" cy="100" r="40" stroke="#008eb3" stroke-width="3" fill="white" opacity="0" />
  <circle class="reset0 coop initstate" cx="350" cy="150" r="40" stroke="#008eb3" stroke-width="5" fill="ghostwhite" opacity="0" />
  <text class="reset0 coop initact" x="350" y="150" fill="#008eb3" opacity="0">C</text>
		
  <polygon class="reset0 coop arrow" points="380,110 395,120 377,127" style="fill:#008eb3" opacity="0" />
  <text class="reset0 coop other" x="350" y="50" fill="#008eb3" opacity="0">C, D</text>
  <text class="reset0 coop dtit" x="280" y="250" fill="#f4656b" opacity="0"> The Defector </text>
		
  <text class="reset0 coop result" x="150" y="300" fill="#008eb3" opacity="0"> Cooperator:  C C C C C C C ... </text>
  <text class="reset0 coop result" x="150" y="330" fill="#f4656b" opacity="0"> Defector:  D D D D D D D ...</text>
		
</svg>
	    
<div class="int1">
  <h1> Interactive section 1 </h1>
  
  <p><strong> Click 0 to reset. Click the numeric buttons to go through this section. </strong></p>
  <p><span> <button type="button" onclick="s0()">0</button><button type="button" onclick="s1()">1</button><button type="button" onclick="s2()">2</button><button type="button" onclick="s3()">3</button><button type="button" onclick="s4()">4</button><button type="button" onclick="s5()">5</button><button type="button" onclick="s6()">6</button><button type="button" onclick="s7()">7</button><button type="button" onclick="s8()">8</button></span></p>
  <p> Let's get acquainted to two other classic machines. </p>
  <div class="caption"> > <p class="cap1"> Tit for Tat </p></div>
</div>

<svg>
  <circle class="full arrowc" cx="150" cy="100" r="40" stroke="#008eb3" stroke-width="3" fill="white" opacity="1" />
  <circle class="full init" cx="150" cy="150" r="40" stroke="#008eb3" stroke-width="5" fill="ghostwhite" opacity="1" />
  <text class="full initc" x="150" y="150" fill="#008eb3" opacity="1" >C</text>
  <polygon class="full arrowc" points="180,110 195,120 177,127" style="fill:#f4656b" opacity="1" />
  <text class="full" x="200" y="270" fill="#008eb3" opacity="1"> Tit For Tat </text>
  <text class="full arrowc" x="150" y="50" fill="#008eb3" opacity="1" >C</text>
  <text class="full arrowc2" x="250" y="70" fill="#008eb3" opacity="1" >C</text>
		    
  <path class="full arrowc2" d="M 180 120 q 80 -70 160 20" stroke="#f4656b"
	stroke-width="3" fill="none" opacity="1" />
  <path class="full arrowd" d="M 180 180 q 80 70 160 0" stroke="#008eb3"
	stroke-width="3" fill="none" opacity="1" />
  <text class="full arrowd" x="250" y="200" fill="#f4656b" opacity="1" >D</text>
  
  <circle class="full arrowd2" cx="350" cy="100" r="40" stroke="#f4656b" stroke-width="3" fill="white" opacity="1" />
  <polygon class="full arrowd2" points="380,110 395,120 377,127" style="fill:#f4656b" opacity="1" />
  <text class="full arrowd2" x="350" y="50" fill="#f4656b" opacity="1">D</text>
		    
  <circle class="full arrowd" cx="350" cy="150" r="40" stroke="#f4656b" stroke-width="3" fill="ghostwhite" opacity="1" />
  <text class="full arrowd" x="350" y="150" fill="#f4656b" opacity="1">D</text>
  
  <polygon class="full arrowd" points="310,190 335,185 320,205" style="fill:#008eb3" opacity="1" />
  
  
  
  <circle class="coer defector" cx="550" cy="100" r="40" stroke="#008eb3" stroke-width="3" fill="white" opacity="0" />
  <circle class="coer defector" cx="550" cy="150" r="40" stroke="#008eb3" stroke-width="5" fill="ghostwhite" opacity="0" />
  <text class="coer defector defact" x="550" y="150" fill="#008eb3" opacity="0">C</text>
  
  <polygon class="coer defector" points="580,110 595,120 577,127" style="fill:#008eb3" opacity="0" />
  <text class="coer defector" x="550" y="50" fill="#008eb3" opacity="0">C, D</text>
  <text class="coer defector deftit" x="480" y="250" fill="#008eb3" opacity="0"> The Cooperator </text>
		    
  <text class="coer" x="150" y="300" fill="#008eb3" opacity="0"> Tit For Tat:  C C C C C C C ... </text>
  <text class="coer defector defres" x="150" y="330" fill="#008eb3" opacity="0"> Cooperator:  C C C C C C C ...</text>
  
  
  
</svg>



<h1> Exercise section 0</h1>
		
<p> <strong>Exercise</strong> Can you draw the Grim Trigger based on the following description: It has two states. It starts out to play Cooperate in the initial state. If the other player plays C, it stays in the state of Cooperating. If the other player plays D, it switches to the second state of Defecting. From that state, there is no way back which means that no matter what the other player does, it stays in that same state. <i>(This one does not forgive, does not forget, does it.)</i></p>

<p>	  <button type="button" onclick="drawgt()">Answer</button> </p>
<svg class="ex0" style="display:none">
  <circle class="gt" cx="150" cy="100" r="40" stroke="#008eb3" stroke-width="3" fill="white"  />
  <circle class="gt" cx="150" cy="150" r="40" stroke="#008eb3" stroke-width="5" fill="ghostwhite"  />
  <text class="gt" x="150" y="150" fill="#008eb3"  >C</text>
  <polygon class="gt" points="180,110 195,120 177,127" style="fill:#008eb3"  />
  <text class="gt" x="200" y="270" fill="#008eb3" > Grim Trigger </text>
  <text class="gt" x="150" y="50" fill="#008eb3"  >C</text>
  <text class="gt" x="250" y="140" fill="#f4656b" >D</text>
  <circle class="gt" cx="350" cy="100" r="40" stroke="#f4656b" stroke-width="3" fill="white"  />
  <polygon class="gt" points="380,110 395,120 377,127" style="fill:#f4656b"  />
  <line class="gt" x1="190" y1="150" x2="350" y2="150" style="stroke:#008eb3;stroke-width:3" />
  <text class="gt" x="350" y="50" fill="#f4656b" >C, D</text>
  
  <circle class="gt" cx="350" cy="150" r="40" stroke="#f4656b" stroke-width="3" fill="ghostwhite"  />
  <text class="gt" x="350" y="150" fill="#f4656b" >D</text>

  <polygon class="gt" points="300,140 315,150 300,160" style="fill:#008eb3"  />
  
</svg>

<h1> Exercise section 1 </h1>
	  
<p><strong> Exercise </strong> Can you match Grim Trigger with other classic machines such as the Cooperator, the Defector and Tit for Tat?</p>
<p><button type="button" onclick="matchgt()">Answer</button></p>
<pre class="game game3 answer1" style="display:none">
  <code> Grim Trigger: C C C ... </code>
  <code class="game2"> Cooperator: C C C ... </code>
  <code> Grim Trigger: C D D ... </code>
  <code class="game1"> Defector: D D D ... </code>
  <code> Grim Trigger: C C C ... </code>
  <code> Tit for Tat: C C C ... </code>
</pre> 
