<% provide(:image, "garden2.jpg") %>
<% provide(:author, "s.im") %>


<header> Run </header>

Hello, I have been working on the simulation. And at this point I am able to deploy something that can run for you. Here:

<a href="https://still-caverns-39622.herokuapp.com/"> a draft heroku app </a>

If you run it for several time, you would see that the population average goes up and down in cycle. When it is down, the whole population is defecting: everybody defects everybody. When it is up, it means that everybody is cooperating.

I am still thinking of making something you can adjust, looking at the population to see what kind of strategies is in there..

