/* line 1, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
* {
  box-sizing: border-box;
}

/* line 4, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
body {
  display: flex;
  flex-direction: row;
  font-family: helvetica, arial, sans;
  padding: 0 2% 2% 2%;
}

/* line 11, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
header {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  background-color: #008eb3;
  color: white;
  padding: 2%;
  margin: 2% 0 2% 0;
}

/* line 21, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
h1 {
  color: #008eb3;
}

/* line 24, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.content {
  display: flex;
  flex-direction: column;
  width: 75%;
}

/* line 30, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
svg {
  width: 80%;
  height: 330px;
  margin: auto;
}

/* line 36, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
nav {
  width: 23%;
  border: 1px dashed #bb8f5b;
  margin: 1.5%;
  padding: 1% 1% 1% 0;
}

/* line 42, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
footer {
  margin: 3% 0;
}

/* line 45, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
ul {
  list-style: none;
  padding: 0% 10%;
}

/* line 49, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
li {
  margin: 2% 0;
}

/* line 52, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
a {
  color: #008eb3;
  text-decoration: none;
}

/* line 56, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
a:hover {
  text-decoration: underline;
}

/* line 59, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
button:hover {
  background-color: #f4656d;
}

/* line 63, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.caption {
  height: 80px;
}

/* line 66, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.cap0, .cap1 {
  display: inline;
}

/* line 70, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
rect {
  fill: ghostwhite;
  stroke-width: 1;
  stroke: #a7e5e0;
  opacity: 0.8;
}

/* line 76, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
line {
  stroke: #a7e5e0;
  stroke-width: 1;
}

/* line 79, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
text {
  font-size: 1.5em;
  font-weight: bold;
}

/* line 83, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.courtesy {
  text-align: center;
  padding: 5% 0%;
}

/* line 87, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.courtesy p {
  color: #bb8f5b;
}

/* line 91, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.courtesy img {
  width: 90%;
}

/* line 94, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
button {
  background-color: #e4dbbe;
  padding: 1% 2%;
  margin: 2px;
  border: none;
}

/* line 100, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
table {
  font-size: 2vw;
  width: 60%;
  margin: 5% 20%;
}

/* line 105, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
table, th, td {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

/* line 110, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.game {
  background-color: ghostwhite;
  padding: 2% 2%;
  display: inline-block;
  border-radius: 10px;
}

/* line 116, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.game1 {
  color: #f4656d;
  font-size: 2vw;
}

/* line 120, /home/chi/ruby/thesis/app/assets/stylesheets/custom.scss */
.game2 {
  font-size: 2vw;
  color: #008eb3;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

