<footer class="footer">

   <a href ="https://gitlab.com/ayaderaghul/thesis"> Gitlab Project </a> | Made with <span style="color:#f4656d">&#9829;</span> | <a href="https://github.com/ayaderaghul" style="color:#bb8f5b">Aya de Raghũl</a> | <%= link_to image_tag("mint.jpg", style:'width:2%') %>

   
	


</footer>
