 <nav>
	<ul>
	  <li> <%= link_to "0. Introduction", root_path %> </li>
	  <li> <%= link_to "I. The Game", game_path %> </li>
	  <li> <%= link_to "II. The Repeated Game", repeated_path %></li>
	  <li> <%= link_to "III. Strategy Representation", representation_path %></li>
	  <li> <%= link_to "III. Strategy Representation 2", representation2_path %></li>
	  <li> <%= link_to "IV. Simulation Cycle", cycle_path %></li>
	  <li> <%= link_to "V. Payoff Calculation", payoff_path %></li>
	  <li> <%= link_to "VI. Run", run_path %></li>
	  <div class="courtesy">
	    <%= link_to image_tag( yield(:image) ) %>
	    <p>courtesy:  <%= yield(:author) %> </p>
	  </div>
	</ul>
    </nav>

