	    <p>
	    <strong> Exercise </strong> I give you the Nash Demand Game in which there is 10 euro to be divided between two players. Each player can claim 2, 5 or 8 out of 10 which is equivalent to a Low, Medium or High portion of the pie, if the prize is ever interpreted as a pie. If the two claims sum up to be less than or equal 10, each gets what they wants, otherwise both get zero.
</p>
	<table>
	    <tr>
		<th>P1 \ P2 </th>
		<th>Low</th>
		<th>Medium</th>
		<th> High  </th>
	    </tr>
	    <tr>
		<td>Low</td>
		<td>2 2</td>
		<td>2 5</td>
		<td class="ne"> 2 8 </td>
	    </tr>
	    <tr>
		<td>Medium</td>
		<td>5 2</td>
		<td class="ne">5 5</td>
		<td> 0 0 </td>
	    </tr>
	    <tr>
		<td> High </td>
		<td class="ne"> 8 2 </td>
		<td> 0 0 </td>
		<td> 0 0 </td>
	    </tr>
	</table> 