 <svg>
   <rect x="5%" y="20" width="30%" height="80"/>
   <rect x="35%" y="20" width="30%" height="80"/>
   <rect x="65%" y="20" width="30%" height="80"/>
   
   <line x1="5%" y1="20" x2="35%" y2="100"/> 
   
   <rect x="5%" y="100" width="30%" height="80"/>
   <rect x="35%" y="100" width="30%" height="80"/>
   <rect x="65%" y="100" width="30%" height="80"/>
   
   <rect x="5%" y="180" width="30%" height="80"/>
   <rect x="35%" y="180" width="30%" height="80"/>
   <rect x="65%" y="180" width="30%" height="80"/>
   
   <text x="25%" y="50" fill="#f4656d">P2</text>
   <text x="10%" y="70" fill="#008eb3">P1</text>
   <text x="42%" y="50" fill="#f4656d">Cooperate</text>
   <text x="73%" y="50" fill="#f4656d">Defect</text>
   <text x="10%" y="150" fill="#008eb3">Cooperate</text>
   <text x="45%" y="150" fill="#008eb3">3</text>
   <text x="55%" y="150" fill="#f4656d">3</text>
   <text x="75%" y="150" fill="#008eb3">0</text>
   <text x="85%" y="150" fill="#f4656d">4</text>
   
   <text x="10%" y="230" fill="#008eb3">Defect</text>
   <text x="45%" y="230" fill="#008eb3">4</text>
   <text x="55%" y="230" fill="#f4656d">0</text>
   <text x="75%" y="230" fill="#008eb3">1</text>
   <text x="85%" y="230" fill="#f4656d">1</text>
 </svg>
 
