<!DOCTYPE html>
<html>
  <head>
    <title>Evolutionary Game Theory Simulation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="content">
       
    <%= yield %>
        

    <%= render 'layouts/footer' %>

    </div>

<%= render 'layouts/nav' %>

  </body>
</html>
